.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 36px 0;
}
.footer-top {
  display: flex;
  justify-content: center;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 12px 42px;
  flex-wrap: wrap;
}