.xbox {
  width: 100%;
  height: 350px;
  background: url("https://i.ibb.co/tBJGPD9/xbox.png") no-repeat center center/cover;
  margin-bottom: 20px;
}
.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px;
}
.xbox p,
.xbox .carbon p {
  margin: 10px 0 20px;
}

@media screen and (max-width: 700px) {
  .xbox .content p {
    display: none;
  }
  .xbox .content h2 {
    margin-bottom: 20px;
  }
}